* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: blanchedalmond;
	position: relative;
	min-height: 100vh;
	padding-bottom: 60px;	
}

/* footer */
footer {
	position: absolute;
	bottom: 0px;
	background-image: linear-gradient(blanchedalmond, sienna);
	font-size: 0.8em;

}

footer a {
	text-decoration: none;
	color: inherit;
}

footer a:hover {
	text-decoration: none;
	color: inherit;
	opacity: 0.6;
	transition: 0.2s;
}

footer a:not(:hover) {
	opacity: 1;
	transition: 0.2s;
}

footer .col-2 {
	text-align: right;
}

/*navbar*/
#nav {
	background-image: linear-gradient(sienna, blanchedalmond);
	color: white;
}

#brand {
	height: 40px;
}

.navbar {
	color: white;
}

td,
th {
	border: 1px solid black;
	padding: 5px;
	top: 0px;
}